kbd, .kbd {
    color: inherit;
    font-size: 80%;
    background-color: #F0F0F0;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    box-shadow: grey 0px 2px;
    padding: 2.4px 6px;
    margin: auto 0;
}
